<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page connexion</title>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body>
    <div class="contactez-nous">
        <h1>se connecter au Forum</h1>
        <form action="/page-traitement-donnees" method="post">
            <div class="pseudo">
                <label for="email">pseudo / email</label>
                <input type="email" id="email" name="email" placeholder="monadresse@mail.com" required>
            </div>
            <div>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password" placeholder="******" required>
            </div>
            <div>
            <button type="submit">S'inscrire</button>
            </div>
        </form>
        <!--<a href="index.html">Retour sur la page d'accueil</a>-->
    </div>
</body>
</html>