<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body>
    <div class="contactez-nous">
        <h1>se connecter au Forum</h1>
        <h3>Bienvenue, inscrivez-vous ou connectez-vous si vous avez déjà un compte</h3>
        <a href="/connexion">Connexion</a>
        <a href="/inscription">Inscription</a>
    </div>
</body>
</html>