<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Mon Profil</title>
    <link rel="stylesheet" href="style/style.css"/>
</head>
<body>
  <section id="user-profile">
    <div class="contactez-nous">
        <p>Connecté en tant que utilisateur@example.com | <a href="deconnexion.html">Déconnexion</a></p>
        <header>
            <h1>Mon Profil</h1>
          </header>
        <img src="images/profil.jpg" alt="Photo de profil">
        <h2>Nom de l'utilisateur</h2>
        <p>Email: utilisateur@example.com</p>
        <p>Email: utilisateur@example.com</p>
        <p>Email: utilisateur@example.com</p>
        <p>Email: utilisateur@example.com</p>
        <p>Email: utilisateur@example.com</p>
        <p>Email: utilisateur@example.com</p>
        <p>Email: utilisateur@example.com</p>
    <!-- Ajoutez d'autres informations du profil ici -->
  </div>
  </section>

</body>
</html>
